:root {
  --transition-url: url("./resource/burn_texture_30fps_small.png"); 
  --transition-size: 13000%; 
  --transition-steps: steps(120); 


  /* --transition-url: url("./resource/burn_texture_small_more.png");
  --transition-size: 25000%;
  --transition-steps: steps(241);
   */
  --transition-time:10s;
  --transition-position: calc( 100 / 120);
}

/* * {
	margin:0 auto;
    padding: 0;
} */

/* body{
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
} */

html{
  /* overflow:hidden; */
}

body{
  /* overflow:scroll; */
}

.wrapper-landing{
  position:fixed;
  width:100vw;
  height: calc(var(--vh) * 110);
  left:0;
  top:0;
  background:url(https://www.apple.com/v/iphone-13-pro/f/images/overview/camera/zoom/zoom_photography_1__szumubtdcle2_large.jpg) no-repeat;
  background-size:auto calc(var(--vh) * 110);
  background-position-x: center;
}

.landing-gradient{
  object-fit:cover;
  position:absolute;
  width:100%;
  height: 100%;
  left:0;
  top:0;
  opacity:1;
  background-image: radial-gradient(at 0vw 100vh, rgb(0, 0, 0,1) , rgb(0, 0, 0,0) 50%),
              radial-gradient(at 100vw 100vh, rgb(0, 0, 0,1) , rgb(0, 0, 0,0) 50%);
}

.landing-video{
  object-fit:cover;
  position:absolute;
  width:100%;
  height: 100%;
  left:0;
  top:0;
}

.landing-main{
  width:85%;
  height:calc(90% - var(--vh) - 40px);
  top:0;
  left:calc(calc(100% - 85% )/2);
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  align-items:flex-start;
  justify-content: flex-end;
  position:absolute;
}

.main-title{
  width:100%;
  /* bottom:calc(15vh + 14vw + 7vw); */
  /* left:calc(calc(100vw - 85vw )/2); */
  overflow:hidden; 
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  align-items:flex-start;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.title-main{
  color:white;
  font-size:35pt;
  font-weight: 900;
  line-height: 35pt;
  margin:0;
}

.title-sub{
  color:white;
  font-size:35pt;
  font-weight: 100;
  line-height: 35pt;
  letter-spacing: 1pt;
  margin:0;
}

.main-info{
  width:100%;
  height:14vw;
  background:rgba(255, 255, 255, 0.1);
  /* top:calc(85vh - 7vw); */
  /* left:calc(calc(100vw - 85vw )/2); */
  backdrop-filter: blur(15px);
  border-radius: 2vw;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 10px rgba(255,255,255,0.1);
  color:rgba(255, 255, 255, 0.747);
  overflow:hidden; 
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.info-place{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* flex-basis:40%; */
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.place-img{
  width:2vh;
  min-width:2vh;
}

.place-text{
  font-size: 11pt;
  font-weight: 300;
  color:white;
  /* letter-spacing:5pt; */
}


.info-date{
  display: flex;
  flex-wrap: nowrap;
  /* flex-basis:25%; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.date-img{
  width:2vh;
  min-width:2vh;
}

.date-text{
  font-size: 11pt;
  font-weight: 300;
  /* letter-spacing:5pt; */
  color:white;
}

.info-dday{
  /* flex-basis: 20%; */
  font-size: 16pt;
  font-weight: 200;
  letter-spacing:5pt;
  color:white;
}

.dday-img{
  width:10%;
}

.dday-text{
}

.landing-transition{
  position: fixed;
  top:0;
  height: calc(var(--vh) * 110);
  width: 100vw;

  mask-image: var(--transition-url);
  mask-size: var(--transition-size) 100%;
  mask-repeat: no-repeat;

  animation-name: mask-play-reveal-loop;
  animation-timing-function: var(--transition-steps);
  animation-duration: calc(var(--transition-time));
  animation-delay: calc(var(--scroll) * var(--transition-time) * 2);
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.landing-transition1 {
  background: white;
  /* animation-duration: calc(var(--transition-time)); */
  mask-position: 0% 0%;
}

.landing-transition2 {
  /* background:  linear-gradient(to bottom right, rgb(93, 122, 254), rgb(107, 253, 238)); */
  background:rgb(20, 94, 255);
  /* animation-duration: calc(var(--transition-time) - 0.1s ); */
  /* mask-position: 0.833% 0%; */
  animation-name: mask-play-reveal-loop2;
}

@keyframes mask-play-reveal-loop2 {
  from{
    mask-position: 0.84% 0%;
  }
  to {
    mask-position: 100.82% 0%;
  }
}

.landing-transition3 {
  background:rgb(20, 192, 255);
  /* animation-duration: calc(var(--transition-time) - 0.2s ); */
  animation-name: mask-play-reveal-loop3;
}

@keyframes mask-play-reveal-loop3 {
  from{
    mask-position: 1.68% 0%;
  }
  to {
    mask-position: 101.64% 0%;
  }
}

.landing-transition4 {
  background:rgb(16, 255, 207);
  /* animation-duration: calc(var(--transition-time) - 0.2s ); */
  /* animation-duration: calc(var(--transition-time) - 0.3s ); */
  /* mask-position: 3% 0%; */
  animation-name: mask-play-reveal-loop5;
}

@keyframes mask-play-reveal-loop5 {
  from{
    mask-position: 2.52% 0%;
  }
  to {
    mask-position: 102.46% 0%;
  }
}



.landing-transition5 {
  background:blue;
  /* animation-duration: calc(var(--transition-time) - 0.4s ); */
  /* mask-position: 4% 0%; */
}

.landing-transition6 {
  background:green;
  /* animation-duration: calc(var(--transition-time) - 0.5s ); */
  /* mask-position: 5% 0%; */
}

@keyframes mask-play-reveal-loop {
  to {
    mask-position: 100% 0%;
  }
}